<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuling.pqb.modular.bus.mapper.ThirdUserRelationMapper">
  <resultMap id="BaseResultMap" type="com.tuling.pqb.modular.bus.entity.ThirdUserRelation">
    <!--@mbg.generated-->
    <!--@Table third_user_relation-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="open_id" jdbcType="VARCHAR" property="openId" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="user_type" jdbcType="INTEGER" property="userType" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="open_id_platform" jdbcType="VARCHAR" property="openIdPlatform" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, open_id, user_id, user_type, `status`, open_id_platform
  </sql>
  <update id="updateBatch" parameterType="java.util.List">
    <!--@mbg.generated-->
    update third_user_relation
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="open_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.openId,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="user_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.userId,jdbcType=BIGINT}
        </foreach>
      </trim>
      <trim prefix="user_type = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.userType,jdbcType=INTEGER}
        </foreach>
      </trim>
      <trim prefix="`status` = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.status,jdbcType=INTEGER}
        </foreach>
      </trim>
      <trim prefix="open_id_platform = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.openIdPlatform,jdbcType=VARCHAR}
        </foreach>
      </trim>
    </trim>
    where id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.id,jdbcType=BIGINT}
    </foreach>
  </update>
  <insert id="batchInsert" parameterType="map">
    <!--@mbg.generated-->
    insert into third_user_relation
    (id, open_id, user_id, user_type, `status`, open_id_platform)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.id,jdbcType=BIGINT}, #{item.openId,jdbcType=VARCHAR}, #{item.userId,jdbcType=BIGINT}, 
        #{item.userType,jdbcType=INTEGER}, #{item.status,jdbcType=INTEGER}, #{item.openIdPlatform,jdbcType=VARCHAR}
        )
    </foreach>
  </insert>
</mapper>